@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);

*,
body {
	margin: 0;
	padding: 0
}

.loader,
body {
	color: var(--primary-color)
}

#preloader,
label svg,
label:after {
	position: absolute
}

.menu-links li,
.nav-links {
	list-style: none
}

#preloader,
.typewriter-text span::after {
	height: 100%;
	background-color: var(--body-main-color)
}

.btn,
a,
label,
label svg.moon,
label svg.sun,
label:after {
	transition: .3s
}

.details-cont,
.menu-links a,
.section-text,
.section-text-p1,
.title,
article,
footer p {
	text-align: center
}

:root {
	--body-main-color: rgb(255, 255, 255);
	--primary-color: #333;
	--secondary-color: rgb(85, 85, 85);
	--link-color: #000;
	--link-textdecoration-color: white;
	--link-hover-color: grey;
	--link-hover-textdecoration-color: rgb(181, 181, 181);
	--hamIcon-spanBackground-color: #000;
	--menu-links-bgColor: white;
	--menu-links-color: #000;
	--border-color: rgb(53, 53, 53);
	--btn-color-2-bg: none;
	--button-hover-color: white;
	--button-hover-background: #000;
	--details-bg-color: rgb(53, 53, 53);
	--details-border-color: rgb(163, 163, 163);
	--experience-subtitle-color: rgb(85, 85, 85);
	--experience-details-border-color: rgb(163, 163, 163);
	--experience-details-bg-color: rgb(250, 250, 250);
	--project-title-color: #000;
	--project-btn1-text-color: #ffffff;
	--project-btn1-bg-color: rgb(35, 35, 35);
	--project-btn2-text-color: #050505;
	--project-btn2-border-color: rgb(163, 163, 163);
	--contact-info-border: rgb(53, 53, 53);
	--contact-info-border-color: rgb(163, 163, 163);
	--contact-info-bg-color: rgb(250, 250, 250);
	--title-smallview-color: #000;
	--timeline-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.158), 0 1px 3px rgba(6, 6, 6, 0.108);
	--timeline-middleLine-image: linear-gradient(45deg, #8b8b8b, #565656, #363636)
}

.darkmode {
	--body-main-color: rgb(20, 20, 20);
	--primary-color: #fff;
	--secondary-color: #c7c7c7;
	--link-color: #ffff;
	--link-textdecoration-color: #333;
	--link-hover-color: #babfb6;
	--link-hover-textdecoration-color: #babfb6;
	--hamIcon-spanBackground-color: #ffffff;
	--menu-links-bgColor: #1e1e1e;
	--menu-links-color: #ffffff;
	--border-color: rgb(200, 200, 200);
	--btn-color-2-bg: var(--project-btn1-bg-color);
	--button-hover-color: #333333;
	--button-hover-background: #ffffff;
	--details-bg-color: rgba(255, 255, 255, 0.1);
	--details-border-color: rgba(255, 255, 255, 0.1);
	--experience-subtitle-color: linear-gradient(to right, #b9b9b9, #b9b9b9, #a3a3a3, #696969);
	--experience-details-border-color: rgba(255, 255, 255, 0.1);
	--experience-details-bg-color: rgba(255, 255, 255, 0.02);
	--project-title-color: #ffffff;
	--project-btn1-text-color: #000000;
	--project-btn1-bg-color: rgb(200, 200, 200);
	--project-btn2-text-color: #ffffff;
	--project-btn2-border-color: rgb(100, 100, 100);
	--contact-info-border: rgba(255, 255, 255, 0.1);
	--contact-info-border-color: rgba(255, 255, 255, 0.1);
	--contact-info-bg-color: rgba(255, 255, 255, 0.02);
	--title-smallview-color: #ffffff;
	--timeline-box-shadow: 0 2px 5px rgba(255, 255, 255, 0.158), 0 1px 3px rgba(255, 255, 255, 0.108);
	--timeline-middleLine-image: linear-gradient(45deg, #F27121, #E94057, #8A2387)
}

body {
	font-family: Poppins, sans-serif;
	line-height: 1.6;
	background: var(--body-main-color)
}

html {
	scroll-behavior: smooth
}

#preloader {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999
}

.loader {
	width: fit-content;
	font-weight: 700;
	font-family: monospace;
	white-space: pre;
	font-size: 30px;
	line-height: 1.2em;
	height: 1.2em;
	overflow: hidden
}

.btn,
.section-text p,
.section-text-p2 {
	font-weight: 600
}

.loader:before {
	content: "Loading...\A Cargando...\A Chargement...\A Laden...\A Caricamento...\A 素早く...\A Préchargement...\A Loading";
	white-space: pre;
	display: inline-block;
	animation: 2s steps(8) infinite alternate l39
}

@keyframes l39 {
	100% {
		transform: translateY(-100%)
	}
}

#ham-nav,
.hidden,
.main-content-hidden {
	display: none
}

p {
	color: var(--secondary-color)
}

.scroll-watcher {
	height: 1px;
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: var(--primary-color);
	width: 100%;
	scale: 0 1;
	transform-origin: left;
	animation: linear scroll-watcher;
	animation-timeline: scroll()
}

#about,
#experience,
#projects,
label {
	position: relative
}

@keyframes scroll-watcher {
	to {
		scale: 1 1
	}
}

#profile,
.nav-links,
.section-cont,
.section-pic-cont,
nav {
	display: flex
}

nav {
	justify-content: space-around;
	align-items: center;
	height: 17vh
}

.nav-links {
	gap: 2rem;
	font-size: 1.5rem;
	align-items: center
}

a {
	color: var(--link-color);
	text-decoration: none;
	text-decoration-color: var(--link-textdecoration-color)
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
	text-underline-offset: 1rem;
	text-decoration-color: var(--link-hover-textdecoration-color)
}

.logo {
	font-size: 2rem
}

.contact-icon,
.logo:hover {
	cursor: default
}

.btn-color-1:hover,
.btn-color-2:hover,
.ham-icon,
.icon,
label {
	cursor: pointer
}

label {
	width: 80px;
	height: 40px;
	display: block;
	background: #ebebeb;
	border-radius: 200px;
	box-shadow: inset 0 5px 15px rgb(0, 0, 0, .4), inset 0 -5px 15px rgb(255, 255, 255, .4)
}

label:after {
	content: "";
	width: 29px;
	height: 29px;
	top: 5.7px;
	left: 10px;
	background: linear-gradient(180deg, #ffcc89, #dd880b);
	border-radius: 180px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

input {
	width: 0;
	height: 0
}

input:checked+label {
	background: #242424
}

input:checked+label:after {
	left: 65px;
	transform: translateX(-100%);
	background: linear-gradient(180deg, #777, #3a3a3a)
}

label:active:after {
	width: 50px
}

label svg {
	width: 19px;
	top: 8px;
	z-index: 100
}

label svg.sun {
	left: 15px;
	fill: #fff
}

label svg.moon {
	left: 42px;
	fill: #7e7e7e
}

input:checked+label svg.sun {
	fill: #7e7e7e
}

input:checked+label svg.moon {
	fill: #fff
}

.ham-menu,
.typewriter-text span {
	position: relative;
	display: inline-block
}

.ham-icon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px
}

#profile,
#socials-cont {
	justify-content: center
}

.ham-icon span {
	width: 100%;
	height: 2px;
	background-color: var(--hamIcon-spanBackground-color);
	z-index: 999999
}

.menu-links {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--menu-links-bgColor);
	width: fit-content;
	max-height: 0;
	overflow: hidden;
	border-radius: .625rem;
	box-shadow: 10px 4px 20px rgba(255, 255, 255, .045), 0 1px 3px rgba(0, 0, 0, .3);
	transform: translateX(100px)
}

.about-pic,
.btn,
.portrait-pic {
	border-radius: 2rem
}

.menu-links a {
	display: block;
	padding: 10px;
	font-size: 1.5rem;
	color: var(--menu-links-color);
	text-decoration: none
}

.menu-links.open {
	max-height: 300px;
	top: 5px;
	padding: 10px 10px 40px;
	animation: .5s forwards fade-in;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateX(50px)
	}

	to {
		opacity: 1;
		transform: translateX(0);
		scale: 1 1
	}
}

.ham-icon.open span:first-child {
	transform: rotate(45deg) translate(10px, 5px)
}

.ham-icon.open span:nth-child(2) {
	opacity: 0
}

.ham-icon.open span:last-child {
	transform: rotate(-45deg) translate(10px, -5px)
}

.ham-icon span:first-child {
	opacity: 1;
	transform: none
}

.typewriter-text {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap
}

.typewriter-text span::before {
	content: "Web Developer";
	color: var(--secondary-color);
	animation: 12s infinite words;
	display: inline-block
}

.typewriter-text span::after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 2px solid var(--secondary-color);
	right: 0;
	animation: .8s infinite cursor, 12s steps(14) infinite typing;
	transition: width .3s ease-in-out
}

@keyframes cursor {

	0%,
	100%,
	50% {
		border-left-color: var(--secondary-color)
	}

	25%,
	75% {
		border-left-color: transparent
	}
}

@keyframes words {

	0%,
	33% {
		content: "Web Developer"
	}

	34%,
	66% {
		content: "Web Designer"
	}

	100%,
	67% {
		content: "FullStack Developer"
	}
}

@keyframes typing {

	0%,
	100%,
	33%,
	38%,
	5%,
	66%,
	71% {
		width: 100%
	}

	32%,
	39%,
	6%,
	65%,
	72%,
	99% {
		width: 0
	}
}

section {
	padding-top: 4vh;
	height: 96vh;
	margin: 0 10rem;
	box-sizing: border-box;
	min-height: fit-content
}

#profile {
	display: flex;
	gap: 5rem;
	height: 80vh
}

.section-text {
	align-self: center
}

.section-text-p2 {
	font-size: 1.75rem;
	margin-bottom: 1rem
}

.title {
	font-size: 3rem
}

#socials-cont {
	display: flex;
	margin-top: 1rem;
	gap: 1rem
}

.icon {
	height: 2rem
}

.btn-container {
	display: flex;
	justify-content: center;
	gap: 1rem
}

.btn {
	padding: 1rem;
	width: 8rem
}

.btn-color-1,
.btn-color-2 {
	border: var(--border-color) .1rem solid
}

.btn-color-1,
.btn-color-2:hover {
	background: var(--border-color);
	color: var(--button-hover-color)
}

.btn-color-1:hover {
	background-color: var(--button-hover-background)
}

.btn-color-2 {
	background: var(--btn-color-2-bg)
}

.btn-color-2:hover {
	border: var(--button-hover-color) .1rem solid
}

.design-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--body-main-color);
	min-height: 100vh;
	padding: 100px 0
}

.design {
	display: flex;
	align-items: center;
	justify-content: center
}

.timeline {
	width: 80%;
	height: auto;
	max-width: 800px;
	margin: 2rem auto;
	display: flex;
	flex-direction: column
}

.timeline-content {
	padding: 1.75rem;
	background: var(--body-main-color);
	box-shadow: var(--timeline-box-shadow);
	border-radius: 6px;
	transition: .4s;
	overflow-wrap: break-word !important;
	margin: 1rem 1rem 20px
}

.timeline-component {
	margin: 0 20px 20px
}

@media screen and (min-width:768px) {

	.timeline-circle,
	.timeline-middle {
		background-image: var(--timeline-middleLine-image)
	}

	.design-section {
		margin-top: 5rem;
		margin-bottom: 5rem
	}

	.timeline {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: 1fr 3px 1fr
	}

	.timeline-middle {
		position: relative;
		width: 3px;
		height: 100%
	}

	.main-middle {
		opacity: 0
	}

	.timeline-circle {
		position: absolute;
		top: 0;
		left: 50%;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}
}

.about-cont {
	gap: .5rem;
	margin-bottom: 2rem;
	margin-top: 2rem
}

.about-details-cont {
	justify-content: center;
	flex-direction: column
}

.about-cont,
.about-details-cont {
	display: flex;
	flex-wrap: wrap
}

.arrow {
	position: absolute;
	right: -5rem;
	bottom: 2.5rem
}

.details-cont {
	padding: 1.5rem;
	flex: 1;
	background: var(--experience-details-bg-color);
	border-radius: .625rem;
	border: .063rem solid var(--details-bg-color);
	border-color: var(--details-border-color)
}

.section-cont {
	gap: 4rem;
	height: 80%
}

.section-pic-cont {
	height: 400px;
	width: 400px;
	margin: auto 0
}

#experience {
	padding: 2rem 0
}

.experience-sub-title {
	background: var(--experience-subtitle-color);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: 2rem;
	text-align: center
}

.experience-details-cont {
	display: flex;
	justify-content: center;
	flex-direction: column
}

#contact,
.article-cont {
	justify-content: center;
	display: flex
}

.article-cont {
	flex-wrap: wrap;
	gap: 2.5rem
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10rem;
	gap: .5rem;
	transition: transform .3s
}

article .icon {
	height: 3rem;
	width: 3rem
}

article h3 {
	font-size: 1.25rem;
	margin: .5rem 0 0
}

.article-cont article:hover .icon {
	transform: scale(1.2)
}

.color-cont {
	border-color: var(--experience-details-border-color);
	background: var(--experience-details-bg-color)
}

.project-img {
	width: 300px;
	height: 250px;
	object-fit: scale-down
}

.project-title {
	margin: 1rem;
	color: var(--project-title-color)
}

.project-btn-1 {
	color: var(--project-btn1-text-color);
	background-color: var(--project-btn1-bg-color)
}

.project-btn-2 {
	color: var(--project-btn2-text-color);
	border-color: var(--project-btn2-border-color)
}

#contact {
	flex-direction: column;
	height: 70vh
}

.contact-info-upper-cont {
	display: flex;
	justify-content: center;
	border-radius: 2rem;
	border: var(--contact-info-border) .1rem solid;
	border-color: var(--contact-info-border-color);
	background: var(--contact-info-bg-color);
	margin: 2rem auto;
	padding: .5rem
}

.contact-info-cont {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	margin: 1rem
}

.contact-info-cont p {
	font-size: larger
}

.email-icon {
	height: 2.5rem
}

footer {
	height: 26vh;
	margin: .1rem
}

@media screen and (min-width:1200px) {

	#sidebar ul li i,
	.sidebar-logo {
		font-size: 1.5rem
	}

	#sidebar-nav,
	.nav-item {
		width: 100%;
		display: flex
	}

	.hidden {
		display: none
	}

	#sidebar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 150px;
		background-color: var(--body-main-color);
		padding-top: 8rem;
		overflow-x: hidden;
		display: flex;
		opacity: 0;
		transition: opacity .6s ease-in-out
	}

	#sidebar.open {
		opacity: 1
	}

	.sidebar-logo {
		font-family: 'Dancing Script', cursive;
		margin-bottom: .7rem;
		margin-left: -4.8rem;
		color: var(--logo-color);
		cursor: default
	}

	#sidebar-nav {
		flex: 1;
		flex-direction: column;
		justify-content: center
	}

	.nav-item {
		flex-direction: column;
		align-items: flex-start;
		margin-left: 1rem
	}

	#sidebar ul li {
		position: relative;
		line-height: 3rem;
		list-style: none
	}

	#sidebar a {
		display: block;
		position: relative;
		padding: .8rem 0 0 .8rem;
		text-align: left;
		color: var(--menu-links-color);
		text-decoration: none;
		transition: .3s, color .3s;
		border-radius: .5rem;
		width: 100%
	}

	#sidebar a:hover {
		color: var(--link-hover-color)
	}

	#sidebar ul li .tooltip {
		position: absolute;
		width: max-content;
		left: 5rem;
		top: 50%;
		transform: translate(-50%, -50%);
		box-shadow: .5rem .8rem rgba(0, 0, 0, .2);
		border-radius: .6rem;
		padding: .01rem 1rem;
		z-index: 9999;
		opacity: 0;
		pointer-events: none
	}

	#sidebar ul li i:hover+.tooltip {
		opacity: 1;
		cursor: default
	}
}

@media screen and (max-width:1400px) {
	#profile {
		height: 83vh;
		margin-bottom: 0
	}

	.section-cont,
	section {
		height: fit-content;
		margin-bottom: 6rem
	}

	.about-cont {
		flex-wrap: wrap;
		margin-top: 0
	}
}

@media screen and (max-height:680px) {
	#about {
		margin-top: 10rem
	}
}

@media screen and (max-width:1200px) {

	#desktop-nav,
	.arrow {
		display: none
	}

	#ham-nav {
		display: flex;
		position: sticky ;
		top: 0;
		z-index: 999;
	}

	#profile,
	.darkmode-ham,
	.section-cont {
		display: block
	}

	#experience,
	.experience-details-cont {
		margin-top: 2rem
	}

	.portrait-pic {
		border-radius: 2rem
	}

	.section-cont,
	section {
		height: fit-content
	}

	section {
		margin: 0 5%
	}

	.section-pic-cont {
		width: auto;
		height: 275px;
		justify-content: center;
		margin: 0 auto 2rem
	}

	.about-cont {
		flex-wrap: wrap;
		margin-top: 0
	}

	.darkmode-ham {
		width: 50px;
		height: 25px;
		position: relative;
		background: #ebebeb;
		border-radius: 200px;
		box-shadow: inset 0 5px 15px rgb(0, 0, 0, .4), inset 0 -5px 15px rgb(255, 255, 255, .4);
		cursor: pointer;
		transition: .3s;
		margin-bottom: 10px
	}

	.darkmode-ham:after {
		content: "";
		width: 15px;
		height: 15px;
		position: absolute;
		top: 5.7px;
		left: 8px;
		background: linear-gradient(180deg, #ffcc89, #dd880b);
		border-radius: 180px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
		transition: .3s
	}

	.darkmode-ham:active:after {
		width: 10px
	}

	#darkmode-toggle-ham {
		width: 0;
		height: 0
	}

	.menu-links li input:checked+label {
		background: #242424
	}

	.menu-links li input:checked+label:after {
		left: 45px;
		transform: translateX(-100%);
		background: linear-gradient(180deg, #777, #3a3a3a)
	}

	.menu-links li label:active:after {
		width: 40px
	}

	.menu-links li label svg {
		position: absolute;
		width: 9px;
		top: 1.5px;
		z-index: 100
	}

	.menu-links li label svg.sun {
		left: 11px;
		fill: #fff;
		transition: .3s
	}

	.menu-links li label svg.moon {
		left: 33px;
		fill: #7e7e7e;
		transition: .3s
	}

	.menu-links li input:checked+label svg.sun {
		fill: #7e7e7e
	}

	.menu-links li input:checked+label svg.moon {
		fill: #fff
	}
}

@media screen and (max-width:600px) {
	.hidden {
		display: none
	}

	#contact,
	footer {
		height: 40vh
	}

	#profile {
		height: 83vh;
		margin-bottom: 0
	}

	.portrait-pic {
		border-radius: 2rem
	}

	.contact-info-cont p,
	.nav-links li a,
	article {
		font-size: 1rem
	}

	footer nav {
		height: fit-content;
		margin-bottom: 2rem
	}

	.about-cont,
	.btn-container,
	.contact-info-upper-cont {
		flex-wrap: wrap
	}

	.contact-info-cont {
		margin: 0
	}

	.experience-sub-title,
	.section-text-p2 {
		font-size: 1.25rem
	}

	.logo {
		font-size: 1.5rem
	}

	.nav-links {
		flex-direction: column;
		gap: .5rem;
		text-align: center
	}

	.section-pic-cont {
		width: auto;
		height: 55vw;
		justify-content: center
	}

	.title {
		font-size: 2rem;
		color: var(--title-smallview-color)
	}

	.text-cont {
		text-align: justify;
		padding: 1rem
	}
}